<div class="pending-homepage row">
	<div class="homepage-block col-md-3">
		<p>sdfjdsfn</p>
	</div>
	<div class="homepage-block col-md-3">
		<p>sdfjdsfn</p>
	</div>
	<div class="homepage-block col-md-3">
		<p>sdfjdsfn</p>
	</div>
	<div class="homepage-block col-md-3">
		<p>sdfjdsfn</p>
	</div>
	<div class="homepage-block col-md-3">
		<p>sdfjdsfn</p>
	</div>
</div>

<div class="pending-homepage">
	
</div>
