<div class="pending-homepage">
	<div class="row">
		<h2>Items Requiring Your Approval</h2>
		<hr>
		<%= render partial: 'pending_approval', locals: { pending_approvals: @pending_approvals } %>
	</div>
</div>

<div class="pending-homepage">

</div>

